.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
	position: absolute;
	width: 165px !important;
	top: 187px;
	left: 565.984px !important; 
	max-height: 300px;
	z-index: 9999; 
}
.autocomplete-suggestion { 
	padding: 5px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
	font-size:22px
}
.autocomplete-selected { 
	background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
	font-weight: bold; 
	color: #3399FF; 
}