/* Topbar */
.navbar-brand h2{
    margin-bottom: 0;
}
.nohover:hover{
	background: none!important;
}
.topbar .navicon {
    color: #fff!important;
}
.topbar {
    background: #0078d7!important;
}
.topbar .navbar-nav .nav-item .du-log {
    width: 160px;
}
.topbar .navbar-nav .nav-item .light-logo {
    font-size:20px;
    padding-top:0!important;
    margin-bottom:10px!important;
    margin-top: -8px;
}
.topbar .top-navbar {
    min-height: 70px;
    max-width: 100%;
    margin: 0 5px 0;
    padding: 0px 15px 0 0;
}
.navbar-header .navbar-brand {
    font-size: 20px;
}
.sidebar-nav ul li a {
    color: #607d8b;
}
.search-box .app-search {
    position: absolute;
    margin: 0px;
    display: block;
    z-index: 110;
    width: 35%;
    top: -1px;
    box-shadow: none;
    display: none;
    left: 27%;
}
.m-t-m3{
	margin-top:-3px!important;
}
.topbar .top-navbar .navbar-header .navbar-brand .light-logo{
    display: inline-block;
    color: #fff;
}
.waves-effect{
	height:40px;
}


.page-wrapper1 {
    background: #f9fafc;
    padding-bottom: 10px;
    padding-top: 45px;
    position: relative;
}
.navbar-header .dropdown {
    position: relative;
    display: inline-block;
    padding: 0 4px;
}
.navbar-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 235px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navbar-header .dropdown-content a {
    color: #425563;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(17, 17, 17, 0.13);
    text-align: left;
    line-height: 40px;
    font-size: 14px;
}
.navbar-header .dropdown-content a:hover {
    color: #0078d7!important;
}
.navbar-header .dropdown-content i {
    padding-right: 10px;
}
.navbar-header .dropdown-content a:hover {
    background-color: #f1f1f1
}
.navbar-header .dropdown:hover .dropdown-content {
    display: block;
}
.navbar-header .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.navbar-header .fa-th {
    font-size: 24px;
}
.navbar-header .dropdown img {
    width: 25px;
}
/* Page Wrapper */
.page-wrapper1 {
    background: #f9fafc;
    padding-bottom: 10px;
    padding-top: 45px;
    position: relative;
}
.navbar-header .dropdown {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    top: -5px;
}
.navbar-header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 235px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px;
}
.navbar-header .dropdown-content a {
    color: #425563;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(17, 17, 17, 0.13);
    text-align: left;
    line-height: 40px;
    font-size: 14px;
}
.navbar-header .dropdown-content a:hover {
    color: #0078d7!important;
}
.navbar-header .dropdown-content i {
    padding-right: 10px;
}
.navbar-header .dropdown-content a:hover {
    background-color: #f1f1f1
}
.navbar-header .dropdown:hover .dropdown-content {
    display: block;
}
.navbar-header .dropdown img {
    width: 25px;
}
.footer{
	position: absolute;
}
.notify .point {
	    width: 6px;
	    height: 6px;
	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	    background-color: #fc4b6c;
	    position: absolute;
	    right: 4px!important;
	    top: 10px!important;
	}
	.notify .heartbit {
	    position: absolute;
	    top: 1px!important;
	    right: -6px!important;
	    height: 25px;
	    width: 25px;
	    z-index: 10;
	    border: 5px solid #fc4b6c;
	    border-radius: 70px;
	}
	.mailbox ul li .drop-title{
		color:#0078d7;
	}
	.newProjectText{
		float:right;
		margin-right:20px;
		font-size:14px;
	}	


@media (min-width: 768px){
    .logo-center .top-navbar .navbar-header {
        position: absolute;
        left: -70px;
        right: 0;
        top: 0;
        margin: 0 auto;
    }
}

#im3{
	height: 42;
	width: 42;
}


/* @media (min-width: 748px){
	.mt-md-0 {
	    margin-top: 0!important;
	}
}
@media (min-width: 738px){
	.navbar-expand-md .navbar-nav {
	    -ms-flex-direction: row!important;
	    flex-direction: row!important;
	}
} */