
.padding5 {
    padding 0 5px;
}
.m-b-20 {
    margin-bottom: 20px;
}

.sidebar-nav ul li a {
    color: #607d8b;
}




/* Table */
.memtype-table {
    margin-bottom: 20px;
    min-height: 450px;
    background: #ffffff;
}
.memtype-table table {
    font-size: 13px;
    margin: 0;
    overflow-x: scroll;
    background: #ffffff;
}
.memtype-table table thead {
    background: #1e88e5;
}
.memtype-table table thead th {
    padding: 5px;
    color: #c9e5fb;
    vertical-align: middle;
}
.memtype-table .table-bordered td {
    border: none;
    border-bottom: 1px solid #e9ecef;
}
.memtype-table table tbody td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

/* Right Sidebar */


.memtype-table table tbody td:first-child {
    text-align: center;
}

.memtype-rightedit {
    display: none;
}

.padding10 {
    padding: 0 10px;
}
.padding {
    padding: 0 15px;
}
.nomargin {
    margin: 0;
}



.padding5 {
    padding: 0 5px;
}
.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 0;
    margin-right: 0;
}
.custom-checkbox .custom-control-indicator {
    border-radius: 0;
}
.custom-control-indicator {
    position: relative; 
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
}
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #0078d7;
}
.action-icons .trash{
    padding: 2px 12px;
    background: #ffffff;
    float: right;
    margin: 10px 0 5px 3px;
    cursor: pointer;
    border: 1px solid #1e88e5;
    border-radius: 3px;
}
.action-icons .add,  .action-icons .edit{
    padding: 6px 12px;
    background: #ffffff;
    float: right;
    margin: 10px 3px 5px;
    cursor: pointer;
}
.action-icons .trash:hover .fa {
    color: red;
}

.ctb-btn {
    background: #1e88e5;
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 26px;
}
.ctb-btn:hover {
    background: #1e88e5;
    color: #fff;
}

.p-r-5{
    padding-right: 5px;
}
.p-r-5{
    padding-right: 5px;
}
.p-l-15{
    padding-left: 15px;
}
.btn-outline-success{
    border-color: #1e88e5;
    box-shadow: none;
    color: #1e88e5;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success.focus{
    background-color: #FFF;
    box-shadow: none;
    color: #1e88e5;
    border-color: #1e88e5;
}
.btn-success{
    background-color: #1e88e5;
    border-color: #1e88e5;
}
.btn-success:hover, .btn-success.disabled:hover{
    background-color: #1e88e5;
    box-shadow: none;
    border-color: #1e88e5;
}
.whiteBG{
    background-color: #fff;
}
.memtype-table {
    display: none;
}
/*.add-new-value {
    background: #ffffff;
    width: 100%;
    padding: 10px;
    position: relative;
}*/
.anv-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    text-align: center;
}
.add-new-value .fa {
    color: d9d9de;
    font-size: 24px;
}
.add-new-value h4 {
    margin: 10px 0 15px;
}
.add-new-value img {
    width: 50px;
}
.add-new-value .anv-btn {
    padding: 7px;
    background: #1e88e5;
    border-radius: 4px;
    font-size: 12px;
    color: #ffffff!important;
    cursor: pointer;
    margin-bottom: 20px;
}
.anv-bg {
    background: #ffffff;
    width: 100%;
    height: 100%;
}
.add-new-value p {
    margin: 0;
    color: #d9d9de;
}
.footer {
    bottom: 0;
    color: #99abb4;
    left: 0px;
    text-align: center;
    padding: 12px;
    position: relative;!important;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #ffffff;
}
table > thead > tr > th, table > tbody > tr > td {
    white-space: nowrap;
}
.wrex-block {
    display: flex;
    align-items: stretch;
}
.disBlock {
	display: inline-block;
}
.sowformgroup .form-group {
	margin-bottom: 15px;
}
.sowformgroup .modal-header h4 a {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 12px 5px;
    transition: 0.3s;
    font-size: 17px;
    border-top-right-radius: 46px;
}
.sowformgroup .modal-header .close {
	position: absolute;
    right: 15px;
    top: 10px;
}
.fs16 {
	font-size: 16px;
}

.btn-info-auto {
	width: auto;
}
/* Project Standard */

.PS-tab-container {
    background: #fff;
    padding: 0 0 10px 0;
    border: 1px solid #d4d4d4;
    margin: 10px;
}
.PS-tab-container label {
    color: #b4b4be;
}
.ps-tab-box {
    border: 1px solid #d4d4d4;
    margin: 15px 0 0;
    border-radius: 5px;
}
.ps-tab-box h4 {
    color: #414146;
    padding: 14px 10px;
    border-bottom: 1px solid #d4d4d4;
    background: #f4f4f4;
    margin: 0;
    border-radius: 5px 5px 0 0;
}
.ps-tab-box .form-group {
    margin: 0;
}
.ps-tab-box-input {
    position: relative;
    overflow: auto;
	
}
.ps-tab-input-box {
    position: relative;
    padding: 10px;
}
.ps-tab-input-box label {
    color: #b4b4be;
    font-size: 14px;
}
.ps-tab-input-box .width20per {
    width: 20%;
    padding: 10px 5px;
    height: 75px;
    line-height: 55px;
}
.ps-tab-input-box .width80per {
    width: 80%;
    padding: 7px;
    border-left: 1px solid #d4d4d4;
}
.ps-tab-select-box {
    position: relative;
    display: flex;
    border-bottom: 1px solid #d4d4d4;
}
.ps-tab-select-box label{
    color: #787877;
    padding: 0 5px;
    font-size: 14px;
    margin: 0;
}
.ps-tab-select-box .labelblk {
    padding-left: 5px;
    position: relative;
    top: 3px;
}
.ps-tab-select-box .width40per {
    width: 40%;
    padding: 10px 0;   
}
.ps-tab-select-box .width60per {
    width: 60%;
    padding: 10px;
    border-right: 1px solid #d4d4d4;
}
.ps-tab-select-box .custom-control-indicator {
    position: relative;
    left: 0;
    width: 15px;
    height: 15px;
}
.ps-tab-input-box textarea {
    height: 60px;
    display: block;
    font-size: 14px;
    color: #b4b4be;
    padding: 5px;
    border: none;
}
.noborder {
    border: 0;
}
.ps-tab-select-box .btn-group {
    width: 100%;
}
.ps-tab-select-box .btn-group .multiselect {
    width: 100%;
    background: inherit;
    padding: 0;
	margin-left: -2px;
    bottom: -6px
}
.ps-tab-select-box .btn-group .multiselect span {
    font-size: 14px;
    color: #0078d7;
}
.ps-tab-select-box .btn-group .multiselect:focus {
    outline: 0;
    box-shadow: none;
}
.ps-tab-select-box .multiselect-container>li>a {
    padding: 7px 5px;
    display: block;
    color: #787877;
    font-size: 14px;
}
.ps-tab-select-box .multiselect-container {
    top: 5px!important;
    overflow: auto;
    overflow-x: hidden;
    width: max-content;
    height: 200px;
    z-index: 1;

}
.ps-tab-select-box .multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio {
    margin: 0;
    padding: 0;
}
.ps-tab-select-box .multiselect-container>li {
   text-align: left;
    margin-left: 10px;
    width: max-content;
    
   }
}
.ps-tab-select-box .multiselect-container>li>a>label>input[type=checkbox] {
    margin: 0;
    padding: 0 10px 0 0;
    position: relative;
    right: 10px;
    top: 3px;
    width: 15px;
    height: 15px;
}

.InclusionBox {
    margin-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 30px;
}
.InclusionBox:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.InclusionBox h4 {
    font-size: 18px;
    color: #b4b4be;
    margin: 0;
}
.std-inclusion a {
    background: #f5f5f5;
    margin: 10px 0;
    padding: 12px 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: block;
}
.std-inclusion a span {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    color: #818181;
}
.std-inclusion a:hover i {
    color: #818181;
}
.std-inclusion a.active, .std-inclusion a:hover {
    background: #4496ec;
    color: #fff!important;
}
.add-inclu {
    padding: 10px 0 0 0;
}
.add-inclu label {
    display: block;
    font-size: 14px;
}
.add-inclu .add-btn {
    border: 1px solid #1e88e5;
    padding: 8px 15px;
    border-radius: 5px;
    color: #1e88e5;
    font-size: 14px;
    border-radius: 0;
}
.add-inclu input {
    display: inline-block;
    width: 95%;
    min-height: 30px;
    padding: 6px;
    border-color: #f0f0f6;
    border-radius: 0;
    margin-right: 10px;
}
.disflex {
    display: flex;
}
.next-level {
}
.next-ps-page {
    background: #1e88e5;
    padding: 8px 20px;
    color: #fff;
    border-radius: 0;
    margin: 10px;
    font-size: 14px;
    display: inline-block;
	border:none;
}
.img-header {
    padding: 25px 10px;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}
.tnc-box ul {
    list-style: none;
    padding: 10px 20px;
}
.tnc-box ul li {
    color: #414146;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}
.ps-mg-box .ps-tab-box {
    min-height: 270px;
}
.ps-mg-box .ps-tab-select-box {
    border-bottom: none;
}
.ps-mg-box .ps-tab-select-box label {
    color: #b4b4be;
    font-size: 13px;
}
.ps-mg-box .ps-tab-select-box .form-control, .ps-mg-single-box .form-control{
    color: #99abb4;
    min-height: 32px!important;
    height: 32px!important;
    display: initial;
    padding: 5px;
    border-radius: 0;
    border-color: #f0f0f6;
    font-size: 14px;
    outline: none;
    box-shadow: none;
}
.ps-mg-box .per70 {
    width: 70%;
    float: left;
}
.ps-mg-box .txt-right {
    border: 1px solid #f0f0f6;
    height: 32px;
    padding: 4px 0px;
    text-align: center;
    font-size: 14px;
}
.disblock {
    display: block;
}
.ps-mg-box table {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    font-size:14px;
    margin: 0;
}
.ps-mg-box table td, .ps-mg-box table th {
    padding: 5px;
    border: 0;
}
.ps-sl-table table td, .ps-sl-table table th{
    border: 1px solid #f0f0f6;
}
.ps-sl-table table thead{
    color: #414146;
    padding: 14px 10px;
    background: #f4f4f4;
    margin: 0;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
}
.ps-sl-table table thead tr{
    border-radius: 10px;
}
.ps-sl-table .table-responsive {
    border-radius: 10px;
}
.ps-sl-table table tbody td{
    padding: 15px 35px;
}
.ps-sl-table table thead th{
    padding: 10px 35px;
}
.table-fr-bg{
    background-color: #FCFCFC;
}
.ps-mg-single-box {
    margin: 20px 10px 0 10px;
}
.ps-mg-single-box select {
    width: 150px;
}
@media (min-width: 1100px) {
    .container-fluid {
        max-width: inherit;
    }
}
@media (max-width: 1200px){
    .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%; 
    }
}
@media (max-width: 850px){
    .col-lg-4 {
        flex: 0 0 100%;
        max-width: 100%; 
    }
}
@media (min-width: 768px) {
    .right-aside-nav > li > ul {
        width: 240px!important;
    }
}

.leftimg{
	
	margin-right:-105px;
	
}

   .btndlt{
	   
	border: 1px solid #1e88e5;
    padding: 8px 15px;
    border-radius: 5px;
    color: #1e88e5;
    font-size: 14px;
    border-radius: 0;
	background-color:#FFF;
	
   }
   .faplus{
	   
	   color:#009efb !important;
	   font-size:10px;
	   padding-top:12px;
	   margin-left:54px !important;
	   
   }
   
   .h4model{
	   
	   color:#99abb4;
	   font-family:'Roboto', sans-serif!important;
   }
   
    
	.modal-footer{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #e9ecef;
	padding: 15px 7px;
    background: #f5f5f5;
	}
	
	.btnpop{
	margin-left: 126px;
    margin-top: -14px;
    font-size: 22px;
	}
	
	
	.modal .nav.nav-pills li a{
        background-color: inherit;
        float: left;
        outline: none;
        cursor: pointer;
        padding: 12px 16px;
        transition: 0.3s;
        font-size: 17px;
        border-top-right-radius: 46px;
    }
    .modal-header {
        padding: 5px 5px 0;
        border-bottom: 1px solid #e9ecef;
    }
    .modal-body {
        padding: 10px;
    }
    .modalcss input {
        height: 32px;
        min-height: 32px;
        font-size: 12px;
    }
    .modalcss .tab-content {
        padding: 0 10px;
    }
    .modalcss select {
        font-size: 13px;
        background: #fff;
        padding: 5px;
        min-height: 28px!important;
        height: 32px!important;
        color: #787878;
    }
    .modalcss .form-control{
        border: 1px solid #e3e3e3;
    }
    .modalcss label {
        font-size: 13px;
        margin-bottom: 3px;
        color: #787878;
    }
    .modalcss .per70 {
        width: 71%;
        float: left;
    }
	
	.modalcss .per60 {
        width: 60%;
        float: left;
    }
    .modalcss .txt-right {
        border: 1px solid #e3e3e3;
        height: 32px;
        padding: 4px 0px;
        text-align: center;
        font-size: 14px;
    }
    .modalcss .chosen-container-multi .chosen-choices {
        width: 100%;
        border-radius: 3px;
        padding-top: 6px;
        padding-bottom: 4px;
        background-image: none;
        height: 40px;
    }
    .modalcss .chosen-container {
        width: 400px !important;
    }
    .modalcss .chosen-container-multi .chosen-choices li.search-field input[type=text] {
        margin: 1px 0;
        padding-left: 5px;
        padding-top: 0;
    }
    .modalcss .disblock {
        display: block;
    }
    .modal-footer {
        padding: 15px 7px;
        background: #f5f5f5;
    }
    .modalcss .modalcancel, .modalcss .modalapply {
        padding: 4px 5px;
        border: 1px solid #007bff;
        border-radius: 3px;
        font-size: 14px;
        display: block;
        float: left;
        width: 70px;
        text-align: center;
        margin-right: 10px;
    }
    .modalcss .modalcancel:hover {
        background: #007bff;
        color: #fff;
    }
    .modalcss .modalapply {
        background: #007bff;
        color: #fff;
    }
    .modalcss .modalapply:hover {
        background: #007bff;
        color: #fff;
    }
    #columnModal .modal-lg{
        width: 650px;
    }
    .modalcss label {
        font-size: 13px;
        margin-bottom: 3px;
        color: #787878;
    }
    .modalcss .custom-checkbox .custom-control-indicator {
        border-radius: 0;
        top: 2px;
    }
	

   